.page-name{
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: var(--ff2);
    font-size: var(--fs1);
    height: 100px;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.news{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items:center ;  
    background-color: var(--base-color);
}
.news-items{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin: 50px;
    border-radius: 15px;
    background-color: var(--surface-2);
    position: relative;
}
.news-items:hover{
    transform: scale(1.03);
}
.post-pic{
    border-radius: 10px 0 0 10px;
    height: 300px;
    width: 400px;
}
.post-contant{
    color: var(--text-color);
    padding: 20px;
}
.content-title{
    font-family: var(--ff1);
    font-weight: bold;
    font-size: var(--fs2);
    text-align: center;
    padding: 1rem;
    color: rgb(89, 154, 189);
}

.content-discrebtion{
    font-family: var(--ff2);
    font-weight: 400;
    margin: 10PX;
    line-height: 1.6;
    font-size: 18px;
    text-align: left;
}
.post-time{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 12px;
}