.page-name {
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: var(--ff2);
    font-size: var(--fs1);
    height: 100px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing8);
    padding: var(--spacing4) var(--spacing8);
}

.news-items {
    display: flex;
    flex-direction: row;
    height: 300px;
    border-radius: 0.5rem;
    background-color: var(--surface-2);
    position: relative;
    transition: translate 0.15s ease-in-out, filter 0.15s ease-in-out;
}

.news-items:hover {
    translate: 0 -10px;
}

.post-pic {
    border-radius: 0.5rem 0 0 0.5rem;
    height: 300px;
    width: 400px;
}

.post-content {
    padding: var(--spacing2) var(--spacing3);
}

.content-title {
    padding: var(--spacing4);
}

.content-description {
    font-size: var(--fs5);
    text-align: left;
    padding: 0 var(--spacing4);
}

.post-time {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: var(--spacing2);
    align-items: center;
}