.form-item{
    width:70%; 
    animation:tran 1s 0.5s forwards ;  
    opacity: 0;
}
.form-item button{
    width: 100%;
}
.info{
   
    width: fit-content;
    border-radius: 10px;
    border: 1px solid rgba(118, 113, 113, 0.327);
    height: fit-content;
    padding: 30px;
    animation: tran 1s 0.5s forwards;
    opacity: 0;
}
@keyframes tran{
 from{
   opacity: 0;
   transform: translatey(150px)
 }
 to{
  opacity: 1;
  transform: translatey(0);
 }
}

iframe{
 width: 90%;   
height: 490px;

border-radius: 10px;
}

.loca h5{
    margin-bottom: 10px;
    width:fit-content;
    padding:13px ;
    border-radius: 20px;
    border: 1px solid rgba(118, 113, 113, 0.327);
    height: fit-content;
}

.loca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 90px;
}

h5 .fa-solid{
    margin: 2px;
}

.fa-solid{
    margin: 30px;
}

.all{
    display:flex ;
    justify-content:center;
    gap: 9%;
    margin: 80px;
}
