
.form-item{
    width:40%; 
    animation:tran 1s 0.5s forwards ;  
    opacity: 0;
}
button:hover{
    box-shadow: 0px 5px 3px rgba(28, 27, 27, 0.784);
    height: 37px;
   font-size: 19px;
}
.info{
   
    width: fit-content;
    box-shadow: 0px 3px 15px gray;
    border-radius: 10px;
    border: 1px solid rgba(58, 58, 58, 0.163);
    height: fit-content;
    padding: 30px;
    animation: tran 1s 0.5s forwards;
    opacity: 0;
}
@keyframes tran{
 from{
   opacity: 0;
   transform: translatey(150px)
 }
 to{
  opacity: 1;
  transform: translatey(0);
 }
}

iframe{
 width: 80%;   
height: 490px;

border-radius: 10px;
}

.loca h5{
    margin-bottom: 10px;
    width:fit-content;
    padding:13px ;
    border-radius: 20px;
    box-shadow: 0px 3px 15px gray;
    
}

.loca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 90px;
}

h5 .fa-solid{
    margin: 2px;
}

.fa-solid{
    margin: 30px;
}

.all{
    display:flex ;
    justify-content:center;
    gap: 17%;
    margin: 80px;
}
