
.form-item{
    border-radius: 8px;
    /*display: flex;
    flex-wrap: wrap;*/
    width:40%;
  /* flex-direction: row;*/
   margin: 77px;
}
.butt{
    margin-left: 150px;
}

/*input{
    padding: 10px;
    margin:15px;
    width:40%;
    height:52px;
    border-radius: 10px;
     border: 0.2px solid rgba(128, 128, 128, 0.284);
     outline: none;
}
input:focus{
    box-shadow: 0px 2px 20px gray;
}*/
/*textarea{
    padding: 10px;
    margin: 30px;
    margin-left:12px;
    border-radius : 10px;
     border: 0.2px solid rgba(128, 128, 128, 0.229);
     width:84%;
     height:200px;
     outline: none;
}*/
/*button{
    border-radius:10px;
   margin-left:80px;
    width: 150px;
   height: 42px;
   font-size: 20px;
   color: aliceblue;
   background-color: rgb(8, 39, 153);
    border: 0.2px solid rgba(128, 128, 128, 0.396);
    box-shadow: 5px 5px 20px rgba(62, 60, 60, 0.47);  
}
button:hover{
    box-shadow: 0px 5px 3px rgba(28, 27, 27, 0.784);
    height: 37px;
   font-size: 19px;
}*/
.info{
    border-radius: 10px;
    border: 1px solid rgba(58, 58, 58, 0.163);
    width: 36%;
    margin: 50px;
    box-shadow: 0px 3px 15px gray;
    height: 74vh;
    
}
.div-info {
    
    margin: 30px;
}
.fa-solid{
    margin: 30px;

    
}
.all{
    display:flex ;
}