main {
    padding: var(--spacing9) var(--spacing4);
}

.form-container {
    background-color: var(--surface-2);
    width: 100%;
    padding: var(--spacing6);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing3);
}

a.link {
    color: var(--primary-color);
    transition: color 0.15s ease;
}

a.link:hover {
    color: var(--secondary-color);
}

